/* table { border-collapse: collapse; }*/
/*td {
  border-right: solid 1p; 
  border-left: solid 1px;
}*/

@import "third_party/bulma.css";
/* tr { border: none; }*/

tr.Error
{
	color: red;
}

tr.Warning
{
	color: orange;
}

tr.Debug
{
	color: gray;
}

tr.Excessive
{
	color: silver;
}

td.leftmost
{
	border-left: 1px solid silver;
}

td.rightmost
{
	border-right: 1px solid silver;
}

table.is-centered
{ 
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid silver;
}

td.added
{ 
	color: green;
}

td.changed
{ 
	color: blue;
}

td.removed
{ 
  text-decoration: line-through red;
}

.components-title
{ 
	list-style-type: none;
	display: list-item;
	margin-left:3em;
}

span.components-item
{
	white-space:nowrap;
	white-space: pre;
}

span.components-details
{
	font-style: italic;
}

footer
{ 
	font-style: italic;
}

#map-view
{ 
}
